html{
    font-size: 10px;
}
body, html {
    height:100%;
    margin:0;
    width:100%;
    }
*{
    scroll-behavior: smooth;
}
.container{
    position: relative;
    width: 50%;
    top:15%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
.bodycontainer{
    height: 100vh;
    background-image: url(../img/backg.png);
    background-size: cover;
    background-position: top;
    position: relative; 
    z-index: 1;
}
.bodycontainer2{
    height: 100vh;
    background-image: url(../img/soleado.png);
    background-size: cover; 
    background-attachment: fixed; 
    overflow: scroll;
}
.text-box {
    position: relative;
    top:20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary{
    position: relative;
    font-weight: 500; 
    color: #4B4D52;
    backface-visibility: hidden;
    font-family: 'Lato', sans-serif; 
    font-size: 6rem; 
    animation-name: moveInLeft;
    animation-duration: 2s;
}
.heading-third{
    position: relative;
    font-weight: 500; 
    color: #4B4D52;
    backface-visibility: hidden;
    font-family: 'Lato', sans-serif; 
    font-size: 2rem; 
}
.heading-secondary{
    position: relative;
    font-weight: 500;
    padding: 2rem,2rem,2rem,2rem;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    font-size:4.5rem;
    color: #4B4D52;
    font-family: 'Lato', sans-serif;
    animation-name: moveInLeft;
    animation-duration: 2s;
}
.heading-primary-sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
}

.form-control{
    font-family:'Lato', sans-serif;
    color: #4B4D52;  
    font-size: 1.4rem;
}
.logotitulo{
    position: relative; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80rem;
}
.biglogo{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:12rem;
    width: 30rem;
}
/*BUTTONS*/
.btn{
    position: relative;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
    height: auto;
    margin-bottom: 1rem;
    color: #FAFAFA;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    background: #5ABCE2;
    border-radius: 2rem;
    outline: none;
    animation-name: moveInLeft;
    animation-duration: 2s;
    border-style: none;
    text-decoration: none;
    
}
.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.2);
    cursor: default;
}
/*NAVBAR*/ 

.navbar{
    height: 9rem;
    width: 100%; 
    left: 0; 
    top: 0;
    background:#fafafa;
    color: #4B4D52;
    border: .1rem solid #C5C9D0;
    z-index: 1;
}
nav a {
    display:block;
    margin-left: 2.2rem; 
    margin-right: 2.2rem;
  }
.navbar-collapse{
    width:100% ; margin-left: auto;
    margin-right: auto;
    background:#FAFAFA;
    border: 0.1px;
}
.navbar-toggler{
    background: #FAFAFA;
} 
.dropdown-menu{
    background: #FAFAFA;
    width:100%;
    outline: none;
}
.down{
    font-size: 1.7rem;
    color: #4B4D52;
}
  /*ELEMENTS LIST*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.element{
    position: block;
    padding: 2rem,2rem,2rem,2rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    color: #4B4D52;
}
.element-li{
    position: block;
    padding: 2rem,2rem,2rem,2rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    color: #4B4D52;
  }

.element-a{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #4B4D52;
    top: 20%;
    text-decoration: none;
}
.element-a:hover{
    color: #1FC4A8;
}
.element-a.btn:hover::after{
    color: #1FC4A8;
}

/*TEXT STYLE*/

p{
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 2.3rem; 
    color: #4B4D52;  
}
.text{
    position: relative; 
    font-size: 1.5rem;
    color: #4B4D52; 
}
.textsmall{
    font-size: 1.5rem;
    position: relative;
    font-weight: 600;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #4B4D52;    
}
.style-paragraph{
    position: relative;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #4B4D52;
    font-family: 'Lato', sans-serif;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0); 
    }
}

/*FOOTER*/
footer{
    margin-bottom: 2rem;
}

.img-box{
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}